body {
  background-color: rgb(241, 199, 247);
}

.page {
  background-color: lightpink;
}

.site-main {
  background-color: plum;
}

.widget-area {
  background-color: hotpink;
  padding: 1em;
}

.site-footer {
  background-color: tomato;
}

.site-info {
  background-color: tan;
}
