// Baseline

.site {
  margin: 0 auto;
  max-width: 100%;
  height: 100vh;
}

// Fallback for legacy browsers not supporting CSS Grid:

@media screen and (min-width: $query__medium) {
  .site-main {
    max-width: 60em;
    margin: 0 auto;
  }
}

// If Browser support CSS Grid:

.blog,
.page {
  &.has-sidebar {
    @supports (grid-area: auto) {
      @media screen and (min-width: $query__medium) {
        .site {
          display: grid;
          grid-template-areas:
            "header header header header"
            "main main main sidebar"
            "footer footer footer footer";
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
        }

        .site-main {
          max-width: none;
        }
      }
    }
  }
}
