// Restructure - More modern CSS Grid soulutions available!

.site-main,
.site-content,
.wrap-full-width {
  margin: 0 auto;
}

@media screen and (min-width: $query__medium) {
  .blog,
  .page {
    &.has-sidebar {
      .site-main {
        background-color: lightsalmon;
      }

      .hentry {
        background-color: mistyrose;
      }
    }
  }

  .home,
  .page {
    &.no-sidebar {
      .site-main {
        background-color: lightskyblue;
      }

      .hentry {
        background-color: powderblue;
      }
    }
  }

  .wrap-full-width {
    max-width: $wrap__full-width-normal;
  }
}

@media screen and (min-width: $query__large) {
  .site-main {
    width: $content__wide;
  }

  .wrap-full-width {
    max-width: $wrap__full-width-wide;
  }
}
