/*--------------------------------------------------------------
## Alignments
--------------------------------------------------------------*/
.alignleft {
  float: left;
  margin-right: 1.5rem;
}

.alignright {
  float: right;
  margin-left: 1.5rem;
}

.aligncenter {
  clear: both;
  @include center-block;
  margin-bottom: 1.5em;
}

.alignwide {
  max-width: calc(50% + $content-width / 2);
}

.alignfull {
  max-width: 100%;
  padding: 0;
}
