.widget-area {
  background-color: $color__background-secondary;
  padding: 2rem 0;
}

// Display sidebar widgets as Grid/Flex/Masonry when sidebar is collapsed at bottom and wide enough

@media screen and (min-width: $query__phablet) and (max-width: $query__tablet-wide) {
  .widget-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .widget {
      flex: 1;
    }
  }
}

// Back to column when displayed as a sidebar next to entry content.

@media screen and (min-width: $query__tablet-wide) {
  .widget-area {
  }
}

.widget-area {
  padding: 2rem 0;

  @media screen and (min-width: $query__tablet-wide) {
    padding: 2.5rem 0;
  }
}

@import "widgets";
