.widget-area {
  grid-area: sidebar;
}

.widget-area {
  background-color: $backgroundcolor__secondary;
  padding: 2rem 0;

  @media screen and (min-width: $query__large) {
    padding: 2.5rem 0;
  }
}

@import "widgets";
