.widget {
  margin: 0 0 2.5rem;
  padding: 0 1.2rem 2.5rem;
  font-family: $font__sans;

  ul,
  ol {
    padding: 0.7rem 0 0;
    margin-bottom: 0;
    list-style-type: none;

    li {
      display: block;
      line-height: 2em;

      ul,
      ol {
        margin-left: 0.5rem;

        @media screen and (min-width: 30rem) {
          margin-left: 1rem;
        }
      }
    }
  }

  /* Make sure select elements fit in widgets. */
  select {
    width: 100%;
    height: 2.5rem;
    padding: 10px;
    font-family: $font__sans;
    border: 1px solid #ccc;
  }
}

.widget a {
  color: $color__text-main;

  &:hover,
  &:focus {
    color: $color__link-hover;
  }
}

.widget-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

/* Archive and Categories widgets */
.widget_archive li {
  color: #7d7d7d;
}

.widget_categories .children {
  padding-top: 0;
}

/* Search widget. */
.widget_search .search-submit {
  display: none;
}

/* Pages and Menu widgets */
.widget_pages .children,
.widget_nav_menu .sub-menu {
  padding-top: 0;
  padding-bottom: 0.5rem;
}

.widget_pages,
.widget_nav_menu {
  a {
    display: block;
    padding: 1rem 0;
    text-decoration: none;
    border-bottom: 1px dashed hsl(0, 0%, 50%);

    &:hover,
    &:focus {
      text-decoration: none;
      border-bottom: 1px dashed hsl(0, 0%, 50%);
    }
  }

  li {
    padding: 0;
  }
}

/* Meta widget */
.widget_meta li {
  padding: 0;
}

/* Recent comments */
.widget_recent_comments {
  li {
    line-height: 1.3rem;
    padding-bottom: 0.5rem;
  }

  a:hover,
  a:focus {
    padding-left: 0;
  }
}

/* RSS widget */
.widget_rss li {
  margin-bottom: 1rem;
}

.widget li a.rsswidget {
  padding-right: 0.5rem;
  font-size: 1rem;
  line-height: 1.4rem;
}

.rss-date,
.widget_rss cite {
  color: #333;
  font-size: 0.8em;
}

.rssSummary {
  padding: 0.5rem 0;
  font-family: $font__serif;
  font-size: 0.8rem;
  line-height: 1.4rem;
}

/* Search widget */
.widget_search input[type="search"] {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #c3c3c3;
  border-radius: 0;
}

/* Calendar widget */
.widget_calendar {
  font-weight: 400;

  caption {
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
  }

  thead {
    background: transparent;
    color: black;

    th {
      border-bottom-width: 2px;
    }
  }

  td {
    padding: 0.2rem;
    font-size: 0.8rem;
    text-align: center;
    background: white;
    border: 1px solid hsl(0, 0%, 80%);
  }

  th {
    border: none;
    text-align: center;
  }

  .pad {
    background: #eaeaea;
  }

  a {
    font-weight: 900;
    text-decoration: none;
  }
}

/* Text widget */
.textwidget {
  font-size: 90%;
  line-height: 1.3rem;
}

/* Footer widget stylings */

.footer-widgets {
  margin: 0;
  padding: 1.5rem 0;
  background-color: $color__background-colophon;

  @media screen and (min-width: $query__small) {
    padding: 2rem 1rem;
  }

  .widget {
    flex: 1;
    margin: 0;
    padding-top: 1rem;

    @media screen and (min-width: $query__small) {
      margin: 0 2rem 2rem;
    }

    .original-title {
      color: hsla(0, 0%, 100%, 0.5);
    }
  }

  .widget,
  .widget-title,
  .widget_calendar thead,
  .rss-date,
  .widget_rss cite {
    color: white;
  }

  .widget a {
    color: white;

    &:hover,
    &:focus {
      color: $color__link-hover;
    }
  }

  .widget_calendar td,
  .widget_calendar a {
    color: black;
  }
}

.footer-widget-area__wrap {
  margin: 0 auto;

  @media screen and (min-width: $query__medium) {
    /* Use flex to create a responsive layout */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    /* If only one widget is displayed, make it full width. */
    .widget:only-of-type {
      width: 100%;
    }

    /* If 2 or 3 widgets are displayed, make the second one twice as wide. */
    .widget:nth-last-child(n + 2):nth-last-child(-n + 3):first-child
      ~ .widget:nth-child(2) {
      flex: 2;
    }

    /* If 4 or more widgets are displayed, show three across when available. */
    .widget:nth-last-child(n + 4),
    .widget:nth-last-child(n + 4) ~ .widget {
      width: 30%;
      flex: 1 1 30%;
    }
  }
}
