.fp-group {
	margin-bottom: 1.2rem;

	&:last-child {
		margin-bottom: 0;
	}
}

.fp-group-thumb {
	position: relative;
}

// Center over image
.fp-group-more {
	color: $color__text-white;
	font-size: 1.65em;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: $transition__card-hover;
}

.card-link a {
	text-decoration: none;

	&:hover,
	&:focus {

		.fp-group-more {
			opacity: 1;
		}

		.fp-group-age {
			background: $color__text-white;
			color: $color__branding-main;
			box-shadow: $boxshadow__card--blurb-hover;
		}
	}
}

@media screen and (min-width: $query__medium) {

	.fp-groups {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.fp-group {
		display: flex;
		width: 31%;
		margin-bottom: 0;
	}
}
