.instructor-cards {
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.instructor > a {
  &:hover,
  &:focus {
    .meta-titles {
      color: white;
    }

    .circle-red:after,
    .circle-black:after {
      background-color: white;
    }

    .circle-content > p {
      color: $color__branding-main;
    }
  }
}

.instructor-meta {
  padding: 0.75em;

  .meta-titles {
    h1 {
      @include font-size(1.1);
    }
    h2 {
      @include font-size(1);
    }
    span {
      @include font-size(0.95);
    }
  }
}
.meta-degree {
  width: 5rem;
}

/* Circle for Showing Instructor Degree */

.degree {
  .circle {
    position: relative;
    display: block;
    background-color: transparent;
    text-align: center;
  }

  .circle:after {
    display: block;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    border-radius: 50%;
    content: "";
  }

  .circle-red:after {
    background-color: $color__branding--belt-red;
  }

  .circle-black:after {
    background-color: $color__branding--belt-black;
  }

  .circle-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .circle-wrapper {
    display: table;
    width: 100%;
    height: 100%;
  }

  .circle-content {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    color: $color__branding--belt-text-yellow;
  }
}

@media screen and (min-width: $query__medium) {
  .instructor-cards {
    padding: 0.75em 1.5em;
  }

  .instructor {
    width: 48%;
  }
}
@media screen and (min-width: $query__large) {
  .instructor-cards {
    padding: 1em 2em;
  }

  .instructor {
    width: 31%;
  }
}
