/*--------------------------------------------------------------
## MAIN NAVIGATION - MOBILE
--------------------------------------------------------------*/

@media screen and (max-width: $query__tablet) {
  .main-navigation {
    font-size: larger;
    // Styles
    flex-direction: column;

    .main-menu {
      margin-top: 4em;
      // Menu is hidden by default
      display: none;
      width: 75%;

      .sub-menu {
        display: none;
        opacity: 0;
        visibility: hidden;
        // Padding inside submenu items
        padding: 0;
        margin-bottom: 1em;
        // Change to transparent dark blue
        background-color: hsl(240, 100%, 40%);
        border-radius: 0.25em;
      }

      .sub-menu.toggled-on {
        // Show Menu Children
        visibility: visible;
        opacity: 1;
        display: block;
      }
    }

    .dropdown-toggle {
      margin-left: 1em;
      font-size: larger;
      color: $color__theme-white;
      height: 2.5em;
      width: 2.5em;

      &:focus,
      &:active {
        color: $color__theme-white;
        outline: 4px solid $color__link-focus;
        border-left-color: transparent;
      }

      &:focus:not(.focus-visible) {
        // Overide focus-visible polyfill issue
        color: $color__theme-white;
      }
    }

    li {
      // Styles
      margin-bottom: 2px;

      ul a {
        padding-left: 2em;
      }
      ul ul a {
        padding-left: 2.5em;
      }
      ul ul ul a {
        padding-left: 3em;
      }
      ul ul ul ul a {
        padding-left: 3.5em;
      }
    }

    a {
      // background-color: DodgerBlue;
      // Styles
      padding: 1em;
      color: $color__theme-white;
      width: 100%;
      margin: 0;
    }
  }
}

.main-navigation.toggled-on {
  // Create overlay on button press
  background: rgb(2, 0, 36);
  background: linear-gradient(
    332deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(1, 17, 64, 0.98) 100%
  );
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  min-height: 100vh;
  width: 100%;

  ul {
    // Show hidden menu
    display: block;
  }

  .admin-mobile {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 4px solid $color__theme-white;
    width: 75%;
    margin-bottom: 4em;
  }
}
