/*--------------------------------------------------------------
## MAIN NAVIGATION - BASELINE
--------------------------------------------------------------*/

.menu {
  font-family: $font__main;
  // display: block;
  /*
	  word-wrap: break-word; // Check if this need to apply on <'a'> instead?
	  */

  /* clearfixing */
  ul {
    list-style: none;
  }

  li {
    display: block;

    &:hover {
      cursor: pointer;
    }

    ul {
      margin: 0;
      padding: 0;
    }
  }

  a {
    display: block;
    text-decoration: none;

    &:focus {
      outline: 4px solid $color__link-focus;
    }
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
    font-weight: bold;
  }
}
