/* Baseline */

.site-header {
  grid-area: header;
  z-index: 999;
}

.site-header {
  background-color: $backgroundcolor__masthead;
  box-shadow: $boxshadow__card;
  padding: 3em 2em;
}

@import "navigation/navigation";
