/* Baseline */

.site-header {
  z-index: 999;
}

.site-header {
  background-color: $color__background-header;
  box-shadow: $boxshadow__card;
  padding: 3em 2em;
}

@import "navigation/navigation";
