// Make shure it is ALWAYS 87,5 % of the content width abowe phone

hr {
  margin-bottom: 1.5em;
  background: $color__background-hr;
  bottom: 0;
  border: 0;
  content: "";
  display: block;
  height: 5px;
  width: 85%;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
