a {
  color: $color__link;
  text-decoration: none;

  &:visited {
    color: $color__link-visited;
  }

  &:hover {
    color: $color__link-hover;
  }

  &:focus {
    outline: 2px solid $color__link-focus;
    color: $color__link-focus;
  }
}
