/* Frontpage - Base styles */

// Since we have wrapper for content on all sections, override max-width fallback
.frontpage {
  .site-main {
    max-width: none;
  }
}

.site-main {
  margin-bottom: 0;
}

.wrap-full-width {
  margin: 0 auto;

  @media screen and (min-width: $query__tablet) {
    max-width: $wrap__full-width-normal;
  }

  @media screen and (min-width: $query__desktop) {
    max-width: $wrap__full-width-wide;
  }
}

.fp-section {
  margin: 0 auto;
  padding: 1.2rem 1.2rem 0 1.2rem;

  @media screen and (min-width: $query__tablet) {
    padding: 2rem 2rem 0 2rem;
  }
}

@import "components/hero";
@import "components/training-groups";
@import "components/banner";
@import "components/newsfeed";
