// Branding - Main colors
$color__branding-main: #0460d9;
$color__branding-main-hover: #022873;
$color__branding-secondary: #d51c2f;
$color__branding-secondary-hover: #8a282b;

// Theme Colors
$color__theme-white: #fff;
$color__theme-medium-blue: #28496d;
$color__theme-dark-blue: #011140;
$color__theme-dark-yellow: #d3b834;
$color__theme-beige: #a67360;
$color__theme-medium-grey: #666e78;

// Base Colors
$color__background-body: #eaecfa;
$color__text-main: #101926;

// Elements
$color__background-hr: $color__branding-main;
$color__background-pre: #fff;
$color__background-ins: #022873;

$color__text-white: #fff;

// Text
$color__text-screen: $color__branding-main;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__text-grey: #777;
$color__border-input: #ccc;
$color__border-abbr: #666;

// Links
$color__link: $color__branding-main;
$color__link-visited: $color__branding-main;
$color__link-hover: $color__branding-main-hover;
$color__link-focus: magenta; // Change to brand blue when finished !!!!

//Links on dark backgrounds
$color__link-dark: $color__branding-main;
$color__link-dark-visited: $color__branding-main-hover;
$color__link-dark-hover: #191970;

// Buttons -> Rewrite completly
$color__button: $color__branding-main;
$color__background-button: $color__branding-main;
$color__background-button-hover: $color__branding-main-hover;
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;

// Layout
$color__background-header: #f0f0f0;
$color__background-secondary: #ffffff;
$color__background-colophon: #252b33;
$color__background-site-info: #1f2022;
$color__background-social-menu: #383f48;
