// Elements
$color__background-body: #f4f4f4;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
// Text
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__text-main: #404040;
$color__text-white: #fff;
$color__text-grey: #777;
// Links
$color__link: #4169e1; //royalblue
$color__link-visited: #32756c; //purple
$color__link-hover: #191970; //midnightblue
// Buttons
$color__button: #1b71b8;
$color__background-button: #1b71b8;
$color__background-button-hover: #053D6B;
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
// Layout
$color__background-header: #F0F0F0;
$color__background-secondary: #ffffff;
$color__background-colophon: #252B33;
$color__border-input: #ccc;
$color__border-abbr: #666;