// Media Queries

$query__phone: 320px; // 20em
$query__phone-wide: 480px; // 30em
$query__phablet: 560px; // 35em
$query__tablet-small: 640px; // 40em
$query__tablet: 768px; // 48em
$query__tablet-wide: 1024px; // 64em
$query__desktop: 1248px; // 78em
$query__desktop-wide: 1440px; // 90em

// Content max width wrapper

$content-width: 48rem;
