// Media Queries
$query__small: 600px;
$query__medium: 900px;
$query__large: 1300px;
$query__x-large: 1500px;

// Wraps
$content__normal: 50rem;
$content__wide: 60rem;

$wrap__full-width-normal: 1000px;
$wrap__full-width-wide: 1250px;

// Paddings
$padding__section: 1.25rem;
$padding__section-wide: 2rem;
