$font__main: "Nunito Sans", "Lucida Grande", "Lucida Sans Unicode",
  "Lucida Sans", Geneva, Arial, sans-serif;

$font__meta: "Merriweather", Georgia, Cambria, "Times New Roman" Times, serif;

$font__code: "Fira Code", monospace;

$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
