// Boxshadow
$boxshadow__card: 0px 8px 14px 0px rgba(148,148,148,0.35);
$boxshadow__card-hover: 0px 11px 16px 1px rgba(116,132,148,0.75);

$boxshadow__card--blurb: 0px 8px 14px 0px rgba(148,148,148,0.35);
$boxshadow__card--blurb-hover: 0px 10px 25px 7px rgba(11,41,66,0.5);

$boxshadow__gradient-solid--blue-blue: 0px 14px 59px 0px rgba(0,0,0,0.45);
$boxshadow__gradient-solid--yellow-orange: 0px 14px 59px 0px rgba(0,0,0,0.45);
$boxshadow__gradient-solid--red-blue: 0px 14px 59px 0px rgba(0,0,0,0.45);

// Textshadow
$textshadow__text-main: 0 0 5px rgba(0,0,0,0.3);

// Transitions
$transition__card-hover: all .3s ease;
$transition__button-hover: all .3s ease;

// Filters
$filter__card-images-hover: brightness(75%);
